<h1>Tasks</h1>


<ul>
  <% @tasks.each do |task| %>
  <li><h4><%= link_to task.name, task_path(task) %></h4></li>
  <p><%= link_to "Edit me",  edit_task_path(task), class: "btn btn-primary btn-sm" %>
  <%= link_to "Delete me", task_path(task), class: "btn btn-danger btn-sm", method: :delete  %></p>
  <% end %>
</ul>

<br>
<div>
  <%= link_to "Add a new task", new_task_path, class: "btn btn-success"%>
</div>
